server:
  port: 8081
  forwarded-headers-strategy: framework

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true

      routes:

        # Public auth (registration, login, refresh)
        - id: auth-public
          uri: http://localhost:8080
          predicates:
            - Path=/social/public/v1/auth/**

        # User module
        - id: user-module
          uri: http://localhost:8080
          predicates:
            - Path=/social/v1/users/**

        - id: admin-module
          uri: http://localhost:8080
          predicates:
            - Path=/social/v1/admin/user/**

        # Posts module
        - id: post-module
          uri: lb://post-module
          predicates:
            - Path=/social/v1/posts/**

security:
    access-secret: VOe5bgn1j6uY+bz0VpoRx/Ns+iDvzGnGM58BqBaanFizwEdCMzlMjPisolnSxQUh0PCgxKqqKtWAeUJzr2bN2A==

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:5767/eureka

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG             # Логирование для Spring Cloud Gateway
    reactor.netty.http.client: DEBUG                      # Логирование для реактивного HTTP клиента
    org.springframework.security: DEBUG                    # Логирование для Spring Security
    org.springframework.security.oauth2: DEBUG
    org.springframework.web: DEBUG                        # Логирование для Spring Web
    org.hibernate.SQL: DEBUG                               # Логирование SQL-запросов Hibernate
    org.springframework.orm.jpa: DEBUG                    # Логирование запросов JPA
