spring:
    application:
        name: user-module

    datasource:
        url: jdbc:postgresql://localhost:5432/social
        username: postgres
        password: password
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect

    data:
        redis:
            host: redis
            port: 6379
            timeout: 2000
            lettuce:
                pool:
                    max-active: 8
                    max-idle: 8
                    min-idle: 0

server:
    port: 8080

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/

security:
    access-secret: ${ACCESS_SECRET}
    refresh-secret: ${REFRESH_SECRET}
